/* #region Tablet */
@media (max-width: 1024px) {
  .header-content {
    padding: 0 30px;
  }

  .main-container {
    padding: 0 30px;
    margin-top: 200px;
  }

  .grid {
    gap: 30px;
  }
}
/* #endregion */

/* #region Mobile */
@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    gap: 15px;
  }

  .title {
    font-size: 30px;
  }

  .search-input {
    width: 100%;
    padding: 12px 25px;
  }
  .search-input:focus {
    width: 100%;
  }

  .main-container {
    margin-top: 140px;
    padding: 0 20px;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 60px;
  }

  /* Mobile Card - Horizontal Layout */
  .card {
    flex-direction: row;
    padding: 20px;
    align-items: center;
    border-radius: 30px;
    height: auto;
  }

  /* Toned down hover for touch */
  .card:hover {
    transform: scale(1.02);
    box-shadow: var(--shadow-hover);
  }
  .card:hover .card-image-placeholder img {
    transform: scale(1.1);
  }

  .card-image-placeholder {
    width: 110px;
    height: 110px;
    margin-bottom: 0;
    margin-right: 20px;
  }

  .card-image-placeholder::after {
    width: 100px;
    height: 100px;
  }

  .card-image-placeholder img {
    width: 100px;
    height: 100px;
  }

  .card-info {
    text-align: left;
  }

  .card-info > .card-type {
    justify-content: flex-start;
  }
}
/* #endregion */
